@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
    with: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
}


#app-container {
    width: 50%;
    position: fixed;
    top: 10%;
    /* margin-left: -300px;half the width*/
}

#form-container {
    padding: 0;

}

.remove {
    margin-top: 1em;
}

input {
    heigth: 2.3em;
    width: 99%;
    background: rgba(108, 122, 137, 0.6);
    color: white;
    min-height: 3.2em;
    border-radius: 10px;
    padding-left: 1.2em;
    margin-bottom: 1.2em;
}

.todo-list .item-name {
    width: 95%;
    padding: 1em;
    padding-left: 1.4em;
    color: white;
}

ul {
    background: rgba(108, 122, 137, 0.6);
    border-radius: 10px;
}

li {
    border-bottom: 1px solid white;
    display: flex;
    list-style: none;
    margin-left: -2em;
}


li:last-child{
    border-bottom: none;
}

span {
    margin: 0 auto;
    font-size: 1.2rem;
    color: lightgray;
}


@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 500px)
and (-webkit-min-device-pixel-ratio: 2) {

    span {
        padding-right: 1em;
    }
    
    #app-container{
        width: 85%;
    }

}

@media only screen 
and (min-device-width: 500px) 
and (max-device-width: 1000px)
and (-webkit-min-device-pixel-ratio: 2) {

    span {
        padding-right: 1em;
    }

    #app-container{
        width: 70%;
    }

}
